/* Шапка */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 92px 50px 96px 50px;
    background: #fff;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 36.58px;
}

.header__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

.header__nav-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__nav-item:first-child .header__nav-link::before {
    display: none;
}

.header__nav-dot {
    transform: translate(0px, 2px);
}

.header__nav-link {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    transition: 0.2s ease-in-out;
}

@media (hover: hover) {
    .header__nav-link:hover {
        opacity: 0.8;
    }
}

.header__nav-link::before {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
}

.header__logo {
    display: flex;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__address {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #000;
}

.header__address-list {
    display: flex;
    flex-direction: column;
    max-width: 214px;
}

.header__address-link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    transition: 0.2s ease-in-out;
}

@media (hover: hover) {
    .header__address-link:hover {
        opacity: 0.8;
    }
}

/* Обложка */
.cover {
    display: flex;
    flex-direction: column;
    gap: 106px;
    position: relative;
    padding: 165px 50px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    min-height: 757px;
    margin: 0 0 180px 0;
}

.cover__overlay {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
}

.cover__title {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cover__title-line {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #fff;
}

.cover__title-line--left {
    text-align: start;
}

.cover__title-line--center {
    text-align: center;
}

.cover__title-line--right {
    text-align: end;
}

.cover__description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 20;
}

.cover__description-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 1.1em;
}

.cover__bet-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid #fff;
    padding: 12px 32px 11px 31px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    transition: 0.2s ease-in-out;
}

@media (hover: hover) {
    .cover__bet-button:hover {
        background-color: #fff;
        color: #000;
    }
}

/* Лоты */
.lots {
    padding: 0 24px;
    margin: 0 0 120px 0;
}

.lots__heading {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    padding: 0 0 0 40px;
    margin: 0 0 27px 0;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 0 0 30px 0;
}

.lots__card-item {
    display: flex;
    min-height: 596px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
}

.card--film {
    background-size: cover;
    background-position: center;
    background-image: url(../images/card-lot-01.jpg);
}

.card--book {
    background-size: cover;
    background-position: center;
    background-image: url(../images/card-lot-02.jpg);
}

.card--picture {
    background-size: cover;
    background-position: center;
    background-image: url(../images/card-lot-03.jpg);
}

.card__overlay {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.card__title {
    position: relative;
    z-index: 20;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card__text {
    position: relative;
    z-index: 20;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 16;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-link {
    width: 100%;
    height: 100%;
}

.lots__more-link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    padding: 0 0 0 40px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

/* О аукционе */
.about {
    padding: 0 24px;
    margin: 0 0 180px 0;
}

.about__container {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    padding: 35px 0 0 47px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 240px;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    flex-shrink: 0;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    object-fit: contain;
}

.about__content {
    padding: 101px 0 0 0;
}

.about__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 100px 0;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__text-paragraph {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    max-width: 690px;
}

/* Подвал */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px 82px 50px;
}

.footer__address {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #000;
    max-width: 242px;
}

.footer__address-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

.footer__address-item {
    margin-bottom: 8px;
}

.footer__address-link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.footer__address-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #000;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.footer__menu-item {
    margin-bottom: 8px;
}

.footer__menu-link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.footer__menu-link--active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 48px;
    list-style: none;
    padding-left: 0;
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

/* Дополнительные стили для SVG иконок */
.footer__social-icon {
    width: 100%;
    height: 100%;
}